# API Configuration
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/

# Application Configuration
NEXT_PUBLIC_APP_NAME=MediDispositif
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Feature Flags
NEXT_PUBLIC_ENABLE_ANALYTICS=false
